{% extends 'base.html.twig' %}

{% block title %}Hello CountryController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des pays</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Drapeau</th>
                <th>Nom</th>
                <th>Capitale</th>
                <th>Région</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td>
                    <img src="{{ country.flags.svg }}" 
                         alt="Drapeau {{ country.name.common }}" 
                         width="50"
                    >
                </td>
                <td>{{ country.name.common }}</td>
                <td>{{ country.capital.0 ?? 'N/A' }}</td>
                <td>{{ country.region }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
